<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>This parameter switches between test and production servers</description>
        <param-name>version</param-name>
        <param-value>development</param-value>
    </context-param>
    <context-param>
        <description>Driver name</description>
        <param-name>driver_name</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <description>Server name</description>
        <param-name>server_name</param-name>
        <param-value>localhost</param-value>
        <!--<param-value>192.168.101.63</param-value>-->
    </context-param>
    <context-param>
        <description>Port</description>
        <param-name>port</param-name>
        <param-value>3306</param-value>
    </context-param>
    <context-param>
        <description>URL context string (test)</description>
        <param-name>context_test</param-name>
        <param-value>/ENSAT</param-value>
    </context-param>
    <context-param>
        <description>URL context string (production)</description>
        <param-name>context_prod</param-name>
        <param-value>/ENSAT</param-value>
    </context-param>
    <context-param>
        <description>Database name (test)</description>
        <param-name>db_name_test</param-name>
        <param-value>test_ensat</param-value>
    </context-param>
    <context-param>
        <description>Database name (production)</description>
        <param-name>db_name_prod</param-name>
        <param-value>ensat_v3</param-value>
    </context-param>
    <context-param>
        <description>Security database name (test)</description>
        <param-name>security_db_name_test</param-name>
        <param-value>ensat_security_test</param-value>
    </context-param>
    <context-param>
        <description>Security database name (production)</description>
        <param-name>security_db_name_prod</param-name>
        <param-value>ensat_security</param-value>
    </context-param>
    <context-param>
        <description>Parameter database name</description>
        <param-name>parameter_db_name</param-name>
        <param-value>ensat_parameters</param-value>
    </context-param>
    <context-param>
        <description>Center callout database name</description>
        <param-name>center_callout_db_name</param-name>
        <param-value>center_callout</param-value>
    </context-param>
    <context-param>
        <description>Username</description>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <description>Password</description>
        <param-name>password</param-name>
        <param-value>1234</param-value>
        <!--<param-value>1puddunk</param-value>-->
    </context-param>
    <context-param>
        <description>The root directory for the storage of generated xls/csv files</description>
        <param-name>export_storage_root</param-name>
        <param-value>E:\ENSAT\PROJECT\ENSAT\build\web\</param-value>
        <!--<param-value>C:\Users\astell\Documents\NetBeansProjects\Ensat\build\web\</param-value>-->
    </context-param>
    <context-param>
        <description>Location of file upload</description>
        <param-name>file_upload</param-name>
        <param-value>E:\ENSAT\PROJECT\ENSAT\build\web\upload_tests\</param-value>
        <!--<param-value>C:\Documents and Settings\astell\My Documents\NetBeansProjects\Ensat\build\web\upload_tests\</param-value>-->
    </context-param>
    <context-param>
        <description>Log-file configurator location</description>
        <param-name>log4j_property_file</param-name>
        <param-value>E:\GIT_REPO\ENSAT\src\log4j_ensat.properties</param-value>
        <!--<param-value>C:\Users\astell\Documents\Tomcat\apache-tomcat-7.0.16\logs\log4j_ensat.properties</param-value>-->
    </context-param>
    <session-config>
        <session-timeout>
            16
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>context-root</param-name>
        <param-value>ENSAT</param-value>
    </context-param>
    <listener>
        <listener-class>ConnectBean.SessionCounterListener</listener-class>
    </listener>
    <listener>
        <listener-class>search.ExportThreadListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>fileupload.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/uploadservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenerateExcel</servlet-name>
        <servlet-class>com.ensat.export.GenerateExcel</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GenerateExcel</servlet-name>
        <url-pattern>/GenerateExcel</url-pattern>
    </servlet-mapping>
    
      <context-param>
        <description>Location of QR code</description>
        <param-name>qr_code_path</param-name>
        <param-value>E:\GIT_REPO\ENSAT\web\images\qr_code\</param-value>
       </context-param>
       
       <context-param>
        <description>Location of Excel Manifest</description>
        <param-name>excel_manifest_path</param-name>
        <param-value>E:\GIT_REPO\ENSAT\web\exported_files\Manifest\</param-value>
       </context-param>
       
</web-app>
