@CHARSET "ISO-8859-1";

/*
  Author: Oliver Wehrens (wehrens@gridsphere.org)
  $Id$
*/
	/* Do not set width 100% in the body, safari does not like it, we get a 1 pixel layover on the upper right side */
/*A:link {
	FONT-SIZE: 12px;
	COLOR: #3399ff;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

A:active {
	COLOR: #999999;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

A:visited {
	COLOR: #999999;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

A:hover {
	COLOR: #999999;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}*/

body {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	WORD-SPACING: normal;
	COLOR: #000000;
	LINE-HEIGHT: normal;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	
/*
color:#333333;
font-family: Georgia Serif;
*/
	
	
	WHITE-SPACE: normal;
	LETTER-SPACING: normal;
	/*BACKGROUND-COLOR: #ffffff;*/
	TEXT-ALIGN: justify;
	
	/*width: 1200px;*/
	/*TEXT-ALIGN: center;*/
}

table {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	WORD-SPACING: normal;
	COLOR: #000000;
	LINE-HEIGHT: normal;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	WHITE-SPACE: normal;
	LETTER-SPACING: normal;
	/*BACKGROUND-COLOR: #ffffff;*/
	TEXT-ALIGN: justify;
	border-collapse: collapse;
}

.header {
	FONT-SIZE: 24px;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

H1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

H2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

H3 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: normal;
	FONT-STYLE: italic;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	cursor:default;
}

P {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	LIST-STYLE-TYPE: square;
	/*BACKGROUND-COLOR: #ffffff;*/
	TEXT-DECORATION: none
}

LI {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	LIST-STYLE-TYPE: square;
	TEXT-DECORATION: none
}

/*
HR {
	COLOR: #000000;
}
*/

HR {
	color: #000;
	background-color: #000;
	height: 1px;	
	
}

fieldset { 
	width:300px;
    color: #000;
    font-size: 13px;
}


fieldset legend { 
    color: #000;
    font-size: 13px;
    FONT-weight: bold;
}

/*
 To replace <b>, simply use this:

font-weight: bold;

And for <i>, it's:

font-style: italic;
*/ 