@CHARSET "ISO-8859-1";

table.query-page-table {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-collapse: collapse;
}

td.query-page-table-td-left {
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	padding: 1px;
	/*-moz-border-radius: ;*/	
	vertical-align: top;
}

td.query-page-table-td-right {
	border-top: 1px solid #666666;
	border-right: 0px;
	border-bottom: 1px solid #666666;
	padding: 1px;
	/*-moz-border-radius: ;*/	
	vertical-align: top;
}

table.section-table {
	width: 600px;
	border-bottom: 1px solid #666666;
	
}

table.section-table-bottom {
	width: 600px;
	border: 0px;
}

tr.parameter-line-double {
	/*height: 32px;*/
	background-color: #CCFFCC;
	
	
}

tr.parameter-line-double-pheo {
	/*height: 32px;*/
	background-color: #CCEEFF;


}
tr.parameter-line-double-napaca {
	/*height: 32px;*/
	/*background-color: #f2c255;*/
    background-color: #ffdd99;
}
tr.parameter-line-double-apa {
	/*height: 32px;*/
    background-color: #dddddd;
	/*background-color: #bfbdb8;*/
}



tr.parameter-line-double-search {
	/*height: 32px;*/
	background-color: #FFFFCC;


}

tr.parameter-line-double-hidden {
	height: 32px;
	background-color: #CCFFCC;
	
	display:none;
}

tr.parameter-line-single {
	height: 22px;
	
	
}

tr.parameter-line-single-hidden {
	height: 22px;
	
	display:none;
}

td.parameter-label-add {
	width: 230px;
}

td.parameter-checkbox-td {
	width: 20px;
}

/*labels*/
td.parameter-label-search {
	width: 300px;
	border: 0;
}

/*input area*/
td.parameter-value-search {
	width: 280px;
	border: 0px;
}

td.mandatory {
	width: 20px;
}


/*
select.select-box {
	width: 318px;
	border: 1px solid green;	
}

select.double-select-box {
	text-align:center;
	width: 318px;
	border: 1px solid green;	
}
*/


div.share-confirm {
	margin-top: 30px;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	height: 250px;
	background: white;
	width: 800px;
	vertical-align: middle;
	TEXT-ALIGN: center;
	line-height: 13px;
	border: 1px solid red;
}

table.query-result-table {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
}

th.query-result-header {
	border: 1px solid #666666;
}

td.query-result-cell {
	border: 1px solid #666666;
	padding: 1px;
	height: 20px;
	/*-moz-border-radius: ;
	vertical-align: center;*/
	text-align: center;
}

textarea.free-text-area {
	width: 260px;
	height: 100px;
	padding: 5px;
}

textarea.abnormality-found {
	width: 300px;
	height: 46px;
	padding: 5px;
}

div.edit_button {
	height: 24px;
	width: 24px;
	background-color: transparent;
	background-image: url(../images/2.png);
	background-position: left center;
	background-repeat: no-repeat;
}

div.edit_button_empty {
	height: 24px;
	width: 24px;
}


/* for geneList.jsp */
table.gene-table {
	width: 300px;
	border-bottom: 1px solid #666666;
}

table.gene-table-bottom {
	width: 300px;
	border: 0px;
}

td.gene-table-checkbox-td {
	width: 20px;
}

div.gene_name {
	font-weight: bold;
	cursor:default;
}

div.gene_description {
	font-size: 7pt;
	cursor:default;
}

div.discuss_button {
	height: 24px;
	width: 24px;
	background-color: transparent;
	background-image: url(../images/54.png);
	background-position: left center;
	background-repeat: no-repeat;
}

/*
	used in readRecordDetail and updateRecord actions
*/
input.content_readonly {
	padding:0px;
	margin:0px;
	border:0px;
	background-color: transparent;
	width:100%;
}

table.YUI_data_table {
	display:none;	
}

table.assessment_table {
		
}

tr.assessment_table_even_row {
	height: 32px;
	background-color: #FFFF99;
}

tr.assessment_table_even_row {
	height: 32px;
}

/* For ActionError messages*/
.error_messsage {
	color:red;	
}
